#logo > a, .log > a{
  font-size: 28px;
  color: aliceblue;
  font-weight: 600;
}
.footer-paddings{
  padding-top: 25px;
  padding-bottom: 20px;
}
.success{
  border: 1px solid white;
    width: 34%;
    background: #dcf5e4;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    padding-left: 18px;
}
.failed{
  border: 1px solid white;
    width: 34%;
    background: #f5dce8;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    padding-left: 18px;
}
